<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div>
  <ol>
    <% @hacks.each do |hack| %>
      <li><%= "#{hack.link} - Catégorie : #{hack.category.name} - Ajouté le #{hack.created_at}" %></li>
    <% end %>
  </ol>
</div>
