<h1>Facile à faire</h1>
<p>Hack Your Life</p>
<div>
  <ol>
    <% @hacks.each do |hack| %>
      <li><%= "#{hack.link} - Catégorie : #{hack.category.name} - Votes : #{hack.votes.count} - Ajouté le #{hack.created_at}" %></li>
      <% if current_user && hack.votes.where(user: current_user).first %>
        <%= button_to 'Downvote', hack_downvote_path(hack), method: :delete %>
      <% else %>
        <%= button_to 'Upvote', hack_upvote_path(hack), method: :post %>
      <% end %>
    <% end %>
  </ol>
</div>

