<h1>Facile à faire</h1>
<p>Hack Your Life</p>
<div>
  <ol>
    <% @hacks.each do |hack| %>
      <li><%= "#{hack.link} - Catégorie : #{hack.category.name} - Votes : #{hack.votes.count} - Ajouté le #{hack.created_at}" %></li>
      <%= link_to "Upvote", upvote_hack_path(hack), method: :post %>
    <% end %>
  </ol>
</div>
